<div class="container" style="background: no-repeat;border: none;">
  <div class="-fluid">
      <% if user_signed_in? %>
        <p class="pull-right">
        <div class="top-nav">
        <ul class="nav">
						  <li class="dropdown1"><a href="bicycles.html">Signed in</a>
							  <ul class="dropdown2">
                  <li><%= current_user.email %></li>
                  <% if current_user.admin %>
                    <li>
                      <%= link_to "Admin", rails_admin_path %>
                    </li>
                  <% end %>
									<li><%= link_to "Orders", orders_path if current_user.orders != []%></li>
									<li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>												
							  </ul>
              </li>
              </ul>
              </div></p>
        
           
        
      <% else %>
      <p class="navbar-text navbar-right">
      <div class="top-nav">
      <ul class="nav">
            <li class="dropdown1"><%= link_to "Sign In",  new_user_session_path %>
              
            </li>
            </ul>
            </div></p>
      <% end %>
  </div>
</div>
